@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}
<header>
    <h1 class="text-center">Anna DeLange</h1>
</header>
<div class="d-flex justify-content-center w-75 mx-auto mt-4">
    <img src="img/IMG_3792.JPG" width="300" />
    <div class="d-flex flex-column offset-sm-1 mt-3">
        <div>
            <h3>What I Hope to Get Out of This Class</h3>
            <p class=" w-75">
                I have learned C# and ASP.net before at work, so I am really just hoping to gain more familiarity with
                the framework and learn it formally. I learned it previously just as a way to start developing, but I know
                that there are a lot of technical aspects that I never learned. Additionally, there are things I learned
                that I'm sure there are easier ways of doing that I would love to improve on.
            </p>
        </div>
        <div>
            <h3>My Top 3 Jobs:</h3>
            <ol>
                <li>Full Stack Developer</li>
                <li>UI/UX Designer</li>
                <li>Software Engineer</li>
            </ol>
        </div>
    </div>
</div>
